

body {
    background-color: #F9FAFC;
}

.brand {
    font-family:"Nixie One", system-ui;
    font-size: 2.4rem;
    font-weight: 700;
    color: #020231;
}

#red-o {
    color: #36118b;
}

.thin {
    font-weight: 300;
}

.light-bg {
    background-color: #fff;
}

.dark-bg {
    background-color: #06000a;
}

.main-bg {
    background-color: #F9FAFC;
}

.card {
    border: none;
    background-color: transparent;
}

.image-container {
    position: relative;
}

.image-flash {
    position: absolute;
    bottom: 5%;
    min-width: 30%;
    left: -2px;
    background-color: #763f8b;
    font-family: "Neuton", serif;
    font-weight: 400;
    font-style: normal;

    
}

.scale {
    width: 100%;
    height: auto;
}

.author {
    color: white;
    margin: 4px;
    text-transform: uppercase;
}

.masthead {
    margin-top: 10px;
    margin-bottom: 100px;
    /*overflow: hidden;
    display: inline-block;*/
    position: relative;
    display: flex;
    height: 33vh;
    width: 100%;
}
/* post html original lms*/
.masthead-text {
    background-color: #445261;
    color: white;
    position: relative;
}

.masthead-image {
    position: relative;
    overflow: hidden;
}

.masthead-image:after {
    content: "";
    position: absolute;
    top: 0;
    right: 90%;
    height: 100%;
    width: 150%;
    background: #445261;
    -webkit-transform: skew(15deg);
    -moz-transform: skew(15deg);
    transform: skew(15deg);
    z-index: 100;
}

.post-link {
    text-decoration: none;
    color: #445261;
    font-family:"Nixie One", system-ui;
    font-weight: 400;
    font-style: normal;

}

/* Next previous button */
.post-link:hover,
.page-link:hover
 {
    color: #523a6b;
    
}

.next-but-color,
.page-link{
    color: #050505;
    font-family:"Nixie One", system-ui;
    font-weight: 500;
    font-style: normal;
    font-size: 1.7rem
}

.post-title {
    margin-top: 10%;
    margin-left: 5%;
}

.post-subtitle {
    margin-left: 5%;
    color: lightgray;
}

.btn-signup,
.btn-edit {
    background-color: #4f3045;
    color: #fff;
}

.btn-signup:hover,
.btn-signup:active {
    background-color: #fff;
    color: #5f35c2;
}

.link {
    color: #3e064b;
    text-decoration: none;
}

.link:hover,
.link:active {
    color: #445261;
    text-decoration: underline;
}

.btn-like {
    color: #E84610;
    border: none;
    background: transparent;
}

.btn-delete {
    color: #fff;
    background: #E84610;
}

.btn-like:hover,
.btn-like:active {
    color: #63e6fd;
    background: transparent;
    border: none;
}

.faded {
    color: rgb(172, 175, 175);
}

.approval {
    color: rgb(222, 146, 168);
}




/* NEW STYLES */

#logo{
  font-family: "Grey Qo", cursive;
  font-weight: 430;
  font-style: normal;
  font-size: 4.2rem;
  color: rgb(23, 9, 49);
  text-decoration-line: underline;
  letter-spacing: 5px;
  text-decoration-line: underline;
  text-decoration-color:rgb(39, 17, 82) ; 

}

#icon-footer{
    color: rgb(238, 232, 232);
}

#navbarText,
.excerpt-font
{
    font-family: "Neuton", serif;
    font-weight: 300;
    font-style: normal;
    font-size: 1.4rem;
}